<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

    <h1>DASHBOARD</h1>


    <div class="countries">
        <h2>LISTA KRAJOW</h2>
        <input type="button" id="countryListButton" value="Pokaz liste krajow"/>
        <ul id="countriesList"></ul>

        <h2>DODAJ KRAJ/ZNAJDZ KRAJ</h2>
        <input id="countryName" placeholder="nazwa kraju">
        <input id="countryCode" placeholder="ISO kraju">
        <input id="countryAddButton" type="button" value="dodaj kraj">
        <input id="countryFindButton" type="button" value="znajdz kraj">
        <input id="countryDeleteButton" type="button" value="usun kraj">
        <hr>
        <input id="countryNewName" placeholder="nowa nazwa kraju">
        <input id="countryNewCode" placeholder="nowe ISO KRAJU">
        <input id="countryEditButton" type="button" value="zedytuj kraj">
    </div>

    

    <script src="/dashboard.js"></script>
</body>
</html>